<tr class="ready-payment selected">
    <td class="has_time">{{ start }}</td>
    <td class="has_time">{{ end }}</td>
    <td>{{ sum }}</td>
    <td class="has_time">{{ time }}</td>
    {{# if paid }}
        <td class="has_time">{{ paid }}</td>
        {{ else }}
        <td class="unpaid_invoice">-</td>
    {{/if}}
</tr>