<table class="bills_table">
    <thead>
    <tr>
        <th>От</th>
        <th>До</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td class="start_payment">{{ start }}</td>
            <td class="end_payment last_bill_to" last_bill_to="{{ endSeconds }}">{{ end }}</td>
            <td> {{ sum }}лв.</td>
        </tr>
    </tbody>
    <tfoot>
        <td colspan="3">Цена: <span class="final_price_bill">{{ sum }}</span>лв.</td>
    </tfoot>
</table>