<tr class="see_client" client="{{ id }}">
    <td class="text-left">{{ firstName }}</td>
    <td class="text-left">{{ lastName }}</td>
    <td class="text-left">{{ town }}</td>
    <td class="text-left">{{ street }}</td>
    <td class="text-left">{{ email }}</td>
    <td class="text-left">{{ abonament }}</td>
</tr>