<tr class="see_client" client="{{ id }}">
    <td class="text-left">{{ firstName }}</td>
    <td class="text-left">{{ lastName }}</td>
    <td class="text-left">{{ town }}</td>
    <td class="text-left">{{ street }}</td>
    {{#if paid }}
        <td class="text-left {{ invoiceStatus }}">{{ paid }} дни</td>
        {{ else }}
        <td class="text-left">-</td>
    {{/if}}
    <td class="text-left">{{ abonament }}</td>
</tr>